@import "tailwindcss";
@source "../../src/**/*.{ts,tsx}";
@source "../../../../packages/components/src/**/*.{ts,tsx}";

:root {
  --color-primary: #2563eb;
  --color-secondary: #7c3aed;
  --color-background: #f9fafb;
  --color-surface: #ffffff;
  --color-text: #111827;
  --color-text-muted: #6b7280;
  --color-border: #e5e7eb;
}
